parameters:
    level: 8
    paths:
        - api/src
        - api/public
        - client/src
        - client/public
        - castor.php
        - .castor/
    scanFiles:
        - .castor.stub.php
    scanDirectories:
        - api/vendor
    tmpDir: tools/phpstan/var
    inferPrivatePropertyTypeFromConstructor: true
    symfony:
        containerXmlPath: 'api/var/cache/dev/App_KernelDevDebugContainer.xml'
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#^Unused .*?::__construct$#'
        - '#^Unused .*?::(set|get|is|has|add|remove).*$#'
