# Templates to factorize the service definitions
x-templates:
    worker_base: &worker_base
        build:
            context: services/php
            target: worker
        user: "${USER_ID}:${USER_ID}"
        depends_on:
            postgres:
                condition: service_healthy
        volumes:
            - "../..:/var/www:cached"
        profiles:
            - worker

volumes:
    postgres-data: {}
    # # Needed if $XDG_ env vars have been overridden
    # builder-yarn-data: {}

services:
    router:
        build: services/router
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
            - "./services/router/certs:/etc/ssl/certs"
        ports:
            - "80:80"
            - "443:443"
            - "8080:8080"
        networks:
            - default
        profiles:
            - default

    gotenberg:
        image: gotenberg/gotenberg:8.12
        restart: "no"
        environment:
            LOG_LEVEL: DEBUG

    postgres:
        image: postgres:16
        environment:
            - POSTGRES_USER=app
            - POSTGRES_PASSWORD=app
        volumes:
            - postgres-data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5
        profiles:
            - default
        ports:
            - "5432:5432"

    api:
        build:
            context: services/php
            target: api
            cache_from:
                - "type=registry,ref=${REGISTRY:-}/api:cache"
        user: "${USER_ID}:${USER_ID}"
        volumes:
            - "../..:/var/www:cached"
            - "../../.home:/home/app:cached"
        depends_on:
            postgres:
                condition: service_healthy
        profiles:
            - default
        labels:
            - "traefik.enable=true"
            - "project-name=${PROJECT_NAME}"
            - "traefik.http.routers.${PROJECT_NAME}-api.rule=Host(${PROJECT_DOMAINS}) && (PathPrefix(`/api`) || PathPrefix(`/storage`))"
            - "traefik.http.routers.${PROJECT_NAME}-api.priority=10"
            - "traefik.http.routers.${PROJECT_NAME}-api.tls=true"
            - "traefik.http.routers.${PROJECT_NAME}-api.service=${PROJECT_NAME}-api"
            - "traefik.http.services.${PROJECT_NAME}-api.loadbalancer.server.port=80"

    client:
        build:
            context: services/php
            target: client
            cache_from:
                - "type=registry,ref=${REGISTRY:-}/client:cache"
        user: "${USER_ID}:${USER_ID}"
        volumes:
            - "../..:/var/www:cached"
            - "../../.home:/home/app:cached"
        depends_on:
            postgres:
                condition: service_healthy
        profiles:
            - default
        labels:
            - "traefik.enable=true"
            - "project-name=${PROJECT_NAME}"
            - "traefik.http.routers.${PROJECT_NAME}-client.rule=Host(${PROJECT_DOMAINS}) && !PathPrefix(`/api`) && !PathPrefix(`/storage`)"
            - "traefik.http.routers.${PROJECT_NAME}-client.priority=5"
            - "traefik.http.routers.${PROJECT_NAME}-client.tls=true"
            - "traefik.http.routers.${PROJECT_NAME}-client.service=${PROJECT_NAME}-client"
            - "traefik.http.services.${PROJECT_NAME}-client.loadbalancer.server.port=81"

    # worker_messenger:
    #     <<: *worker_base
    #     command: php -d memory_limit=1G /var/www/application/bin/console messenger:consume async --memory-limit=128M

    builder:
        build:
            context: services/php
            target: builder
            cache_from:
                - "type=registry,ref=${REGISTRY:-}/builder:cache"
        init: true
        user: "${USER_ID}:${USER_ID}"
        environment:
            # The following list contains the common environment variables exposed by CI platforms
            - GITHUB_ACTIONS
            - CI # Travis CI, CircleCI, Cirrus CI, Gitlab CI, Appveyor, CodeShip, dsari
            - CONTINUOUS_INTEGRATION # Travis CI, Cirrus CI
            - BUILD_NUMBER # Jenkins, TeamCity
            - RUN_ID # TaskCluster, dsari
        volumes:
            - "../..:/var/www:cached"
            - "../../.home:/home/app:cached"
            # Needed when $XDG_ env vars have overridden, to persist the yarn
            # cache between builder and watcher, adapt according to the location
            # of $XDG_DATA_HOME
            # - "builder-yarn-data:/data/yarn"
        depends_on:
            - postgres
        profiles:
            - builder
