{% extends 'base.html.twig' %}

{% block body %}
    <style>
        html, body {
            background: #fcfcfd;
        }
        .container { background: #eff2f4; }
        hr {
            border: solid 2px white;
            opacity: 1;
        }
    </style>
    <div class="container pt-2 my-3">
        <div class="row">
            <h1 class="h4">Components</h1>
        </div>
    </div>
    <div class="container pt-3 pb-2 my-3">
        <div class="row">
            <div class="col-12">
                <h2 class="h5">Tags</h2>
                <hr>
            </div>
            <div class="col-12">
                <twig:Tag :tag="tagOne" :selectedTagSlugs="selectedTagSlugs" />
            </div>
            <div class="col-12">
                <twig:Tag :tag="tagSelected" :selectedTagSlugs="selectedTagSlugs" />
            </div>
        </div>
    </div>
    <div class="container pt-3 pb-2 my-3">
        <div class="row">
            <div class="col-12">
                <h2 class="h5">Tag List</h2>
                <hr>
            </div>
            <div class="col-12">
                <twig:TagList :tags="tags" :selectedTagSlugs="selectedTagSlugs" />
            </div>
        </div>
    </div>
    <div class="container pt-3 pb-2 my-3">
        <div class="row">
            <div class="col-12">
                <h2 class="h5">Bookmarks</h2>
                <hr>
            </div>
            <div class="col-12">
                <h3 class="h6">Default Layout</h3>
            </div>
            <div class="col-12">
                <twig:Bookmark
                    :bookmark="bookmark"
                    :layout="constant('\\App\\Model\\Tag::LAYOUT_DEFAULT')"
                    :selectedTagSlugs="selectedTagSlugs"
                />
            </div>
            <div class="col-12">
                <h3 class="h6">Embedded Layout</h3>
            </div>
            <div class="col-12">
                <twig:Bookmark
                    :bookmark="bookmark"
                    :layout="constant('\\App\\Model\\Tag::LAYOUT_EMBEDDED')"
                    :selectedTagSlugs="selectedTagSlugs"
                />
            </div>
        </div>
    </div>
    <div class="container pt-3 pb-2 my-3">
        <div class="row">
            <div class="col-12">
                <h2 class="h5">Bookmark List</h2>
                <hr>
            </div>
        </div>
        <div class="row gx-3">
            {% for bookmark in bookmarks %}
                <twig:Bookmark
                    :bookmark="bookmark"
                    :layout="constant('\\App\\Model\\Tag::LAYOUT_DEFAULT')"
                    :selectedTagSlugs="selectedTagSlugs"
                />
            {% endfor %}
        </div>
    </div>
{% endblock %}
