{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary navbar-height">
        <div class="container-fluid">
            <a class="text-white navbar-brand" href="{{ path('index') }}">BookmarkHive</a>
            <button class="navbar-toggler bookmark-navbar-toggler" type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasResponsive"
                    aria-controls="offcanvasResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="text-white navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <main class="d-flex navbar-height-compensate h-100">
        <div class="h-100">
            <div class="offcanvas-md offcanvas-start h-100" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">BookmarkHive</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body h-100 sidebar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col mt-3">

                                {% block sidebar %}
                                    <twig:TagList :tags="tags" :selectedTagSlugs="selectedTagSlugs" />
                                {% endblock %}

                                <div class="sidebar-spacer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid sidebar-left">
            {# TODO #}
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-message-container">
                        <div class="flash-{{ type }}" style="font-weight: bold">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block main %}
                {% if bookmarks|length > 0 %}
                    <div class="row gx-3">
                        {% for bookmark in bookmarks %}
                            <twig:Bookmark :bookmark="bookmark" :layout="layout" :selectedTagSlugs="selectedTagSlugs" />
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-12 text-center pt-5">
                            <strong>No bookmark matching!</strong>
                        </div>
                        <div class="col-12 text-center">
                            <div class="d-flex my-2 flex-wrap justify-content-center" style="padding-left: 3rem">
                                {% for tag in tags %}
                                    {% if tag.slug in selectedTagSlugs %}
                                        <twig:Tag :tag="tag" :selectedTagSlugs="selectedTagSlugs" :showInline="true" />
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

            <div class="mt-1">&nbsp;</div>
        </div>

        {% block modal %}
{# <div class="modal fade" id="bookmark_edit_modal" tabindex="-1" aria-hidden="true"> #}
{# <div class="modal-dialog modal-fullscreen-sm-down"> #}
{# <div class="modal-content"> #}
{# <twig:Turbo:Frame id="bookmark_edit_frame" /> #}
{# </div> #}
{# </div> #}
{# </div> #}
                        <twig:Turbo:Frame id="tag_edit_frame" />

        {% endblock %}

    </main>

{% endblock %}
