:root {
    --navbar-height: 56px;
    --sidebar-width: 200px;
    --bs-border-radius: 0.375rem;
}

/* Bootstrap override */
[data-bs-theme=light] {
    --bs-primary: #4BB9FF;
    --bs-primary-rgb: 75, 185, 255;
    --background-color: #FFFFFF;
    --sidebar-color: #EEEEEE;
    --bs-gray-700: #495057;
    --bs-border-color: #dee2e6;
    --bs-light-bg-subtle: #fcfcfd;
}
[data-bs-theme=dark] {
    --bs-primary: #002f4b;
    --bs-primary-rgb: 0, 47, 75;
    --background-color: #000000;
    --sidebar-color: #111111;
    --bs-gray-700: #495057;
    --bs-border-color: #495057;
    --bs-light-bg-subtle: #343a40;
}
[data-bs-theme=dark] .card {
    --bs-card-bg: #111111 !important;
}

html, body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
    background: var(--background-color);
}

.navbar-height {
    height: var(--navbar-height);
}

.navbar-height-compensate {
    margin-top: var(--navbar-height);
}
.bookmark-navbar-toggler {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    --bs-navbar-toggler-border-color: transparent !important;
}

.text-gray-700 {
    color: var(--bs-gray-700);
}

@media (min-width: 768px) {
    .sidebar {
        width: var(--sidebar-width);
        overflow: auto;
        position: fixed;
    }
    .sidebar-spacer {
        height: calc(var(--navbar-height) + 3rem);
    }
    .sidebar-left {
        margin-left: var(--sidebar-width);
    }
}

.offcanvas-body.sidebar, .offcanvas-md .offcanvas-body {
    background: var(--sidebar-color) !important;
}

.bookmark-img {
    aspect-ratio: 4/3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bs-light-bg-subtle);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.45);
}

.embed-img iframe {
    width: 100%;
    height: 100%;
}

.fs-small {
    font-size: 80%;
}

.btn-xs {
    --bs-btn-padding-y: calc(0.25rem * 0.8);
    --bs-btn-padding-x: calc(0.5rem * 0.8);
    --bs-btn-font-size: calc(0.875rem * 0.8);
    --bs-btn-border-radius: calc(0.25rem * 0.8);
}

@media (hover: hover) and (pointer: fine) {
    .tag-hover-edit .tag-edit-button {
        display: none;
    }

    .tag-hover-edit:hover .tag-edit-button {
        display: inline;
    }
}
