security:
    # https://symfony.com/doc/current/security.html#c-hashing-passwords
    password_hashers:
        App\Entity\User: 'auto'

    firewalls:
        dev:
            pattern: ^/_(profiler|wdt)
            security: false

when@test:
    security:
        password_hashers:
            App\Entity\User:
                algorithm: md5
                encode_as_base64: false
                iterations: 0
